/* 
    Document   : settings
    Created on : Jan 27, 2009, 4:33:40 PM
    Author     : alex
    Description:
        Purpose of the stylesheet follows.
*/

window {
   height: 500px;
   width: 300px;
}