/* 
    Document   : settings
    Created on : Jan 27, 2009, 4:33:40 PM
    Author     : alex
    Description:
        Purpose of the stylesheet follows.
*/

#message {
   margin-top: 2em;
   font-size: 1.2em;
   margin-bottom: 1em;
   font-weight: bold;
}