/* 
    Document   : site.cs
    Created on : Feb 18, 2009, 2:21:41 PM
    Author     : alex
    Description:
        Purpose of the stylesheet follows.
*/

body {
   font-family: Helvetica;
}

.section {
   margin-left: 2em;
   width: 80%;
}
.section li {
   width: 80%;
   margin-bottom: 1em;
}